#experence-container{
    padding: 10px;
}


.skillContainer{
	/* background-color: red; */
}

.skillContainer h1 {
	text-align: center; /* Centers the text horizontally */
}

.SubSet{
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 10px;
    
}

.expList {
	/* display: list-item; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	/* background-color: royalblue; */
}

.progLang {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    background-color: lightsalmon;  /* Temporary color for testing */
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progLang h4 {
	margin: 0;
	font-size: 1.2em;
}

.progLang img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 5px;
}