#experence-container{
    padding: 10px;
}


.skillContainer{
	/* background-color: red; */
	margin-left: 5rem;
	margin-right: 5rem;
}

.SubSet{
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 10px;
    
}

.expList {
	/* display: list-item; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	/* background-color: royalblue; */
}

.progLang {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    background-color: lightsalmon;  /* Temporary color for testing */
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progLang h4 {
	margin: 0;
	font-size: 1.2em;
}

.progLang img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 5px;
}





/* nav bar stuff, will change the main */

#NewNav {
    display: flex;
    position: fixed;
    align-items: center;
    top: 20px; /* Add some space from top */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    border-radius: 50px; /* Pill shape */
    /* padding: 10px 30px; */
	padding: 1rem;
	padding-left: 0;
	padding-right: 0;
    z-index: 1000;
}

#NewNav ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#NewNav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: medium;
    padding: 8px 20px;
    border-radius: 30px;
    transition: background 0.3s, color 0.3s;
}

/*  */



.nav-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background: #ffb085;
    border-radius: 30px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: -1;
    pointer-events: none;
}

