#experence-container{
    padding: 10px;
}




.SubSet{
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 10px;
    
}

.expList {
	/* display: list-item; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	/* background-color: royalblue; */
}

.progLang {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    background-color: var(--highlight-color); 
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progLang h4 {
	margin: 0;
	font-size: 1.2em;
}

.progLang img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 5px;
}



.cert {
	display: flex;
	background-color: var(--foreground);
	width: 100%;
	border-radius: 16px;
	align-items: center;
	gap: 1.5rem;
	padding: 1rem;

}

.cert-text {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.cert-text h3 {
	margin: 0;
	margin-bottom: 0.5rem;
}


.cert img {
	width: 20%;
	min-width: 10rem;
	height: auto;
	object-fit: contain;
	border-radius: 16px;
}
.certSkills {
	margin-top: 1rem;
	margin-bottom: 1rem;
	/* margin-bottom: 1rem; */
}


@media (max-width: 950px) {
	.cert {
		display: flex;
		flex-direction: column;
		text-align: center;
		/* padding: 1rem; */
	}

	.cert .certSkills {
		margin-bottom: 0px;
	}
}