@font-face {
    font-family: 'NotoSans';
    src: url('assets/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
    /* src: url('assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');     */
}

:root {
    --main-font-family: 'NotoSans', sans-serif;

    /* Colors */
    /* --primary-color: # */
    /* --background: #bf946b; */
    /* --background: #f8dabe; */
    /* --background: #f8dabe; */
	/* --background: #9ebdea; */
	--background: #dcd2bd;
	/* --background: hsl(30, 30%, 80%); */


	--foreground: #ffe4c4;


	--highlight-color: #ffb085;
    /* --accent-color: #ff9d4c; */
    --accent-color: #cc916b;
	/* --accent-color: #6f5c4a; */


	--accent2-color: #8c6b51;

	/* --btn-color: #cc916b; */

    --text-color: #f1f1f1;
    --text-select: #ffffff;

	
    --text2-color: #492700;
    color: var(--text2-color);




    background: var(--background);
}

body {
    font-family: var(--main-font-family);
}

/* .top-intro { */
    /* font-size: 50px; */
/* } */


.BackgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    z-index: -1; /* Place the image behind the content */
}

/* h1 {
    font-size: 36px;
}

h2 {
    font: optional;
} */


.inlineRblx {
    width: 16px;
    height: 16px;
    vertical-align: -.125em;
}


.btn {
    display: inline-block;
    padding: 10px 12.5px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--accent-color);
    border: 5px;
    border-color: black;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-wrap-mode:nowrap;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--accent-color);

}


#navbar {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    /* right: 0; */
    width: 100%;
    /* background: rgba(255, 255, 255, 0.8); */
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    /* padding: 10px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 2px;

    /* border-radius: 0 0 0 10px; */
}

#navbar p {
    font-size: medium;
    font-weight: normal;
    margin-right: auto;
    padding-left: 10px;
    color: var(--text-color);

}


#navbar ul {
    margin-left: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    display: flex;
    gap: 15px;
}

#navbar ul li {
    display: inline;
    position: relative;
}

#navbar ul li:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: -10px;
    color: #333;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: normal;
    font-size: medium;
    padding: 5px 10px;
    border-radius: 5px;
    transition:  font-weight 0.3s, color 0.3s;
    
}

#navbar ul li a:hover {
    /* background-color: #007bff; */
    /* font-size: large; */
    font-weight:bold;
    color: var(--text-select);
}


/* #bottom-ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--accent-color);

}

#bottom-ribbon-left {
    margin-left: 10px;
}

#bottom-ribbon-right {
    margin-right: 10px;
} */

#page-top{
    margin: 0px;
}

.page-header {
    position: relative;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    padding: 20px; 
    box-sizing: border-box;
    /* color: white; */
    background: linear-gradient(to bottom, 
        rgb(0, 0, 0, 0) 85%, 
        var(--background)
    );
    font-size: 3rem;
    /* font-size: 50px; */
}

.pageTitle {
    /* color: var(--accent-color); */
    color: #da7d31;
    font-size: 4rem;
    /* font-style: italic; */
    /* -webkit-text-stroke: #492700; */
    /* -webkit-text-stroke-width: 1px; */
    /* color: #FFFFFF; */
    /* text-shadow: 4px 3px 0px #7A7A7A, 2px 2px 2px rgba(218,125,49,0); */

    text-shadow: #474747 3px 4px 2px;
    
}

/* Media Rules */

@media (max-width: 30cm) {
    .page-header {
        font-size: 4.5vw;
    }
}

@media (max-width: 750px) {
 
    #navbar p {
        visibility: hidden;
        width: 0px;
        margin: 0px;
        padding: 0px;
    }
    #navbar ul {
        justify-content: center; 
        margin: auto;

    }
}

