

#ProjectContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px;
	padding-left: 5rem;
	padding-right: 5rem;

    background-color: var(--background);
    align-items: start;
}



.NeoProject {    
    background-size: contain; 
    background-position: center; 
	/* background-repeat: no-repeat; */
	width: 100%; /* Optional: Let the width adjust automatically */
	/* padding: 10px; */
	position: relative;
	overflow: hidden;
	aspect-ratio: 18/13;
	border-radius: 16px;
	padding: 0px;
	margin: 0px;
}


.NeoProject h2 {
	text-align: center;
	margin: 0px;
	margin-bottom: 0;
    transition: margin-bottom 0.3s cubic-bezier(.4,2,.3,1), transform 0.3s cubic-bezier(.4,2,.3,1);
    transform: translateY(0);
}


.NeoProject p {
	/* visibility: hidden; */
	display: none;
	padding-left: 1rem;
	padding-right: 1rem;
}


.NeoProjectOverlay {
	/* display: inline-flexbox; */
	border-radius: 8px;
	width: calc(100% - 2rem);
	background-color: hsla(201, 100%, 56%, 0);
	/* background-color: hsl(201, 100%, 56%); */
	padding: 0px;
	margin: 1rem;
	position: absolute;
	bottom: 0;
}


@keyframes flyIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flyOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(20px);
        opacity: 0;
    }
}


.NeoProject:hover .NeoProjectOverlay{
    background-color: hsla(201, 100%, 56%, 0.737);
	animation: flyIn 0.3s ease-out;

}

/* .NeoProject:hover h2{
	animation: flyIn 0.3s ease-out;
} */

.NeoProject:hover .NeoProjectOverlay h2 {
    margin-bottom: 1px;
    transform: translateY(0px);
	text-decoration: underline;
}

.NeoProject:hover p{
    display: block; /* Make the paragraph visible */
	animation: flyIn 0.3s ease-out;
}

.NeoProject:not(:hover) .NeoProjectOverlay h2 {
    margin-bottom: 0;
    transform: translateY(0);
}







@media (max-width: 45cm) {
    #ProjectContainer {
        grid-template-columns: repeat(3, 1fr); 

    }
    

}


@media (max-width: 30cm) {
    #ProjectContainer {
        grid-template-columns: repeat(2, 1fr); 

    }

}


@media (max-width: 15cm) {
    #ProjectContainer {
        grid-template-columns: repeat(1, 1fr); 

    }

}