#page-header {
    position: relative;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    padding: 20px; 
    box-sizing: border-box;
    color: white;
}

#ProjectContainer {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
    background-color: aquamarine;
    align-items: start;
}

.Project {
    background-color: hsla(0, 66%, 46%, 0.5);
    backdrop-filter: blur(10px);

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
}

.Project:hover {
    transform: translateY(-10px);
}

.Project h2 {
    font-size: 1.5em;
    margin: 16px;
    text-align: center;
}

.Project-content {
    position: relative;
}

.Project-img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s;
}

.Project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.Project:hover .Project-overlay {
    opacity: 1;
}

.Project:hover .Project-img {
    opacity: 0.3;
}

.Project p {
    font-size: 1em;
    color: #fff;
    margin-bottom: 20px;
}

.btnInline {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btnInline:hover {
    background-color: #0056b3;
}