

#ProjectContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    /* padding: 20px; */
	row-gap: 1rem;
	column-gap: 1rem;
	

	padding-bottom: 1rem;
    background-color: var(--background);
    align-items: start;
}

.project {
	display: flex;
	width: 100%;
	flex-direction: row;
	background-color: var(--foreground);
	border-radius: 16px;
	height: 100%;

}

.project img {
	width: 50%;
	height: auto;
	object-fit: cover;
	border-radius: 16px;
	/* margin-right: 20px; */
}

.project h2 {
	text-align: center;
	width: 100%;
}

.project-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;		
	width: 50%;
	margin: 1rem;

}

.lower-project-text{
	padding-bottom: 1rem;
}





@media (max-width: 55cm) {
    #ProjectContainer {
        grid-template-columns: repeat(1, 1fr); 

    }
    

}



/* Reorganize element for vertical view */
@media (max-width: 875px) {
	.project {
		flex-direction: column;
	}

	.project img {
		width: 100%;
		height: auto;
		/* margin-right: 0; */
	}

	.project-text {
		width: auto;
		height: auto;
		justify-content: flex-start;
		/* margin: 1rem; */
	}


	.lower-project-text{
		padding-bottom: 0rem;
	}

	.lower-project-text .certSkills{
		margin-bottom: 0rem;
	}
}