#top-thing {
    display: flex;
    align-items: center;
    justify-content: center; /* Center items along the x-axis */

}

.pfp {
    margin-right: 20px;
}

.pfp-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#AboutSplit {
    max-width: 60%;
    max-height: fit-content;
}



.pfp {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-width: 30%;

    /* margin-right: 20px; */
}

.pfp-img {
    border-radius: 50%;
    /* width: 100%; */
    width: 70%;
    height: auto;
    margin: 50px;
    /* height: 40%; */
    /* aspect-ratio: 1; */
}



.divider {
    text-align: center;
    /* Adjust the margin as needed */
    /* margin: 20px 0; */
}

.divider span {
    display: inline-block;
    background: white; /* Match the background color of your page */
    padding: 0 10px; /* Adjust padding as needed */
    position: relative;
    top: -10px; /* Adjust to vertically center the text over the line */
}

.divider hr {
    border: 0;
    border-top: 6px solid #ccc; /* Adjust the color and thickness of the line */
    border-radius: 3px;
    margin: 0;
}





.btn {
    display: inline-block;
    padding: 10px 12.5px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: 5px;
    border-color: black;
    border-radius: 26px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.centred-container {
    display: flex;
    justify-content: center;
}

.profolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 90%;
    gap: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    /* justify-content: center; */
    /* Adjust the gap between items as needed */
    /* gap: 20px;  */
}


.portfolio-things {
    padding: 5px;
}

.project-obj {
    position: relative;
    width: 100%; /* Ensure items take full width of their grid cell */
    /* 16:9 aspect ratio (9 / 16 * 100) */
    padding-top: 56.25%;
    /* padding: 5px; */
    /* width: 50vw; */
    height: auto;
    border-radius: 1vw;
    overflow: hidden; /* Ensure content does not overflow the container */
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}

.display-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    border-radius: 8px;

    /* height: auto; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}